a {
  text-decoration: none;
  color: #cfddf7;
}

a:visited {
  text-decoration: none;
  color: #cfddf7;
}

a:hover {
  color: #4169b4;
}

#about {
  margin: 0 20%;
}

body {
  background-color: #020e27;
  font-family: Montserrat, Arial, Helvetica;
  color: #cfddf7;
  text-align: center;
}

.container {
  flex-direction: row;
  height: 350px;
  padding-top: 30px;
}

.fake-margin{
  display: inline-block;
  width: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #020e27;
  font-family: Prosto One, Arial, Helvetica;
}

header .container {
  justify-content: space-evenly;
}

nav {
  margin-top: 53px;
  margin-right: 15px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
}

nav li {
  padding-left: 60px;
  font-size: 20px;
}

.projects .container {
  justify-content: center;
}

.individual {
  margin: 10px;
  width: 500px;
  height: 300px;
  position: relative;
}

.individual:hover {
  /* webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  /* filter: blur(4px); */
  opacity: 50%;
}

.individual .icon {
  display: none;
}

.individual:hover .icon {
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1000;
  color: #cfddf7;
}

.techStack {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #020e27;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  box-shadow: 7px 7px 6px rgb(52 52 54);
  border-radius: 10px;
  margin-bottom: 20px;
  background: #698bc9;
  padding: 20px 0 0 70px;
}

.imgContainer {
  flex: 0 1 calc(25%);
  align-content: center;
  justify-content: center;
}

#logo{
  display: flex;
}

#logo-text{
  align-self: center;
  font-size: 40px;
  margin: 0;
  color: #4169b4;
}
